<!DOCTYPE html>
<html>
<head>
	<title>My Blog Page</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css" >

<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous">

</head>
<body>


<div class="navbar navbar-expand bg-dark fixed-top">

<a class="nav-link" href="{{ url_for('index') }}">HOME</a>

<a class="nav-link" href="{{ url_for('add_entry') }}">ADD</a>


<a class="nav-link" href="{{ url_for('delete_entries') }}">Delete</a>

<a class="nav-link" href="/entries">Entry</a>

</div>
<div id="content">

	{% block content %} {% endblock %}

</div>


</body>
</html>
